        <!-- PAGE : PORTFOLIO -->
        <section id="portfolio" class="page wrapper portfolio" data-x="14500" data-y="1250" data-rotate="0" data-scale="4">

            <!-- PAGE TITLE -->
            <h2 class="caption"><span>PORTFOLIO</span></h2>

            <div class="iscroll-wrapper">
                <div class="scroller container">

                    <!--FILTERS-->
                    <ul id="filters">
                        {% for filter in site.portfolioFilters %}
                        <li{% if filter.default %} class="current"{% endif %}><a href="#" data-filter="{{ filter.value }}">{{ filter.label }}</a></li>
                        {% endfor %}
                    </ul>
                    <!--FILTERS-->


                    <!-- PORTFOLIO ITEMS -->
                    <div id="portfolio-items" class="portfolio-items">

                        {% for item in collections.portfolio %}
                        <div class="item {{ item.data.categories | join(' ') }}">
                            <div class="media-box">
                                <img src="{{ item.data.thumbnail }}" alt="{{ item.data.title }}">
                                <div class="mask">
                                    <h3 class="title">SEE PROJECT DETAILS</h3>
                                    <a href="{{ item.url }}" class="ico ajax"></a>
                                </div>
                            </div>
                            <h3 class="project-title">{{ item.data.title }}</h3>
                            <p class="category">{{ item.data.categoryLabel }}</p>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- PORTFOLIO ITEMS -->


                </div>
                <!--end scroller-->
            </div>
            <!--iscroll-wrapper-->

        </section>
        <!-- PAGE : PORTFOLIO -->
