---
layout: false
---
<!doctype html>
<html class="no-overflow" data-safeMod="false" data-mobileSafeMod="true" data-safeModPageInAnimation="fadeInLeft" data-inAnimation="fadeInLeft" data-outAnimation="fadeOutRightBig" data-lightboxInAnimation="fadeInLeftBig" data-profileImageAnimation="rotate-left" data-jmpressAnimationDuration="1000" data-hideScrollbar="true">
{% include "head.njk" %}


<body>

    {% include "header.njk" %}


    <!-- ************************ PAGES -->
    <div id="pages">

        {% include "sections/about.njk" %}

        {% include "sections/resume.njk" %}

        {% include "sections/contact.njk" %}

    </div>
    <!-- ************************ PAGES -->


    <!-- ************************ PORTFOLIO OVERLAY -->
    <div class="p-overlay">
    </div>
    <!-- ************************ PORTFOLIO OVERLAY -->

    <!-- ************************ PORTFOLIO OVERLAY -->
    <div class="p-overlay">
    </div>
    <!-- ************************ PORTFOLIO OVERLAY -->


    <!-- ************************ AJAX LOADER -->
    <div class="loader"></div>
    <!-- ************************ AJAX LOADER -->

</body>
</html>
